@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<br />
<address>
    <h4><strong>Autobiography Admin</strong></h4><br />
    <i class="fa fa-address-book" style="font-size:24px"></i> Sofia, Bulgaria<br />
    <i class="fa fa-phone-square" style="font-size:24px"></i> +359 877 111<br />
    <i class="fa fa-facebook-official" style="font-size:24px"></i><a href="https://facebook.com/Autobiography.Admin">Autobiography.Admin</a><br />
    <i class="fa fa-linkedin-square" style="font-size:24px"></i><a href="https://www.linkedin.com/Autobiography.Admin">Autobiography.Admin</a>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:admin@admin.com">Admin@Admin.com</a>
</address>