
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-success">
    <h2><u>Education</u></h2>
</div>
<div>
    <table style="display:table; width:100%">
        <tr>
            <td>
                <h4><strong>Institution</strong></h4>
            </td>
            <td>
                <h4><strong>Subject</strong></h4>
            </td>
            <td>
                <h4><strong>Period</strong></h4>
            </td>
            <td>
                <h4><strong> Document of completion</strong></h4>
            </td>
            <td>
                <h4><strong>Website</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                Proffesional high school with Telecommunications
            </td>
            <td>
                Telecommunications
            </td>
            <td>
                2007 - 2012
            </td>
            <td>
                Diploma
            </td>
            <td>
                <a href="https://tcom-sf.org/">https://tcom-sf.org/</a>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                Technical University - Sofia
            </td>
            <td>
                Telecommunications
            </td>
            <td>
                2012 - 2016
            </td>
            <td>
                Diploma
            </td>
            <td>
                <a href="http://ftk.tu-sofia.bg/">http://ftk.tu-sofia.bg/</a>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                Technical University - Sofia
            </td>
            <td>
                Software Engeneering
            </td>
            <td>
                2016 - Present
            </td>
            <td>
                -
            </td>
            <td>
                <a href="http://cs.tu-sofia.bg/">http://cs.tu-sofia.bg/</a>
            </td>
        </tr>
    </table>
</div>

<br />
<br />

<div class="text-success">
    <h2><u>Courses</u></h2>
</div>
<div>
    <table style="display:table; width:100%">
        <tr>
            <td>
                <h4><strong>Institution</strong></h4>
            </td>
            <td>
                <h4><strong>Course</strong></h4>
            </td>
            <td>
                <h4><strong> Document of completion</strong></h4>
            </td>
            <td>
                <h4><strong>Website</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                Technologica
            </td>
            <td>
                Oracle Databases: Beginner PL/SQL
            </td>
            <td>
                Certificate
            </td>
            <td>
                <a href="http://www.technologica.com/home">http://www.technologica.com/</a>
            </td>
        </tr>
        <tr>
            <td>
                <p></p>
            </td>
        </tr>
        <tr>
            <td>
                Technologica
            </td>
            <td>
                Oracle Databeses: Advanced PL/SQL
            </td>
            <td>
                Certificate
            </td>
            <td>
                <a href="http://www.technologica.com/home">http://www.technologica.com/</a>
            </td>
        </tr>
    </table>
</div>