
@{
    ViewBag.Title = "Expertise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-success">
    <h2><u>Expertise</u></h2>
</div>


<ul class="list-unstyled">
    <li class="col-md-4">
        <h3 style="font-family:'Harlow Solid'; border-bottom: 1px solid #ccc"><i>Frontend</i></h3>
        <br />

        <p style="width:80%; font-family:'MV Boli'">HTML5</p>
        <progress max="100" value="80" class="html5">
        </progress>

        <p style="width:60%; font-family: 'MV Boli'; color: green">CSS3</p>
        <progress max="100" value="50" class="css3">
        </progress>

        <p style="width:50%">JavaScript()</p>
        <progress max="100" value="20">
        </progress>

    </li>
    <li class="col-md-4">
        <h3 style="border-bottom: 1px solid #ccc">Backend</h3>
        <br />
        <p style="width:75%">C#</p>
        <progress max="100" value="85">
        </progress>

        <p style="width:65%">Java</p>
        <progress max="100" value="80">
        </progress>

        <p style="width:65%">PHP</p>
        <progress max="100" value="40">
        </progress>

    </li>
    <li class="col-md-4">
        <h3 style="border-bottom: 1px solid #ccc">Databases</h3>
        <br />
        <p style="width:75%">Oracle</p>
        <progress max="100" value="85">
        </progress>

        <p style="width:65%">MS Sql</p>
        <progress max="100" value="65">
        </progress>

        <p style="width:65%">mySQL</p>
        <progress max="100" value="55">
        </progress>
    </li>
</ul>