@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h2>Welcome to my portfolio!</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Education</h2>
        <p>
            Read here about my education and courses.
        </p>
        <p><a class="btn btn-default" href="/Home/Education">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Projects</h2>
        <p>Read here about projects I have taken part of.</p>
        <p><a class="btn btn-default" href="/Home/About">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Expertise</h2>
        <p>Read here about my expertise.</p>
        <p><a class="btn btn-default" href="/Home/Expertise">Go</a></p>
    </div>
    <div class="col-md-3">
        <h2>Know me?</h2>
        <p>Share about your experience with me!</p>
        <p><a class="btn btn-default" href="/Home/Index">Go</a></p>
    </div>
</div>